@model IEnumerable<ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees List</h1>

<h3 style="color:green"> @TempData["status"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Salary</th>
            <th>Department Id</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.EmpId</td>
                    <td>@emp.EmpName</td>
                    <td>@emp.EmpSalary</td>
                    <td>@emp.DeptId</td>

                </tr>
            }
        }

    </tbody>
</table>
